# Virtual Environment
venv/


# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*.pyc
*.db
.idea/

# VS Code
.vscode/

# Flask
instance/

# Testing
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db

model.pkl